@import "tailwindcss";

@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";
@import "tailwind-animations";

@font-face {
  font-family: "Inter-BlackItalic";
  src: url("/fonts/Inter_18pt-BlackItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Inter-ExtraBoldItalic";
  src: url("/fonts/Inter_18pt-ExtraBoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Inter-Regular";
  src: url("/fonts/Inter_18pt-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Inter-BoldItalic";
  src: url("/fonts/Inter_18pt-BoldItalic.ttf") format("truetype");
}

@theme {
  /* Her tilføjes theme variable // tokens */

  /*Farver */
  --color-primary-400: #00e4f5;
  --color-primary-500: #006269;
  --color-primary-600: #006d75;
  --color-secondary-400: #f5e400;
  --color-secondary-500: #f5a600;
  --color-secondary-600: #f57a00;

  /*Typografi */
  --font-header: "Inter-ExtraBoldItalic";
  --font-subheader: "Inter-BlackItalic";
  --font-button: "Inter-Regular";
  --font-body: "Inter-Regular";
  --font-link: "Inter-BoldItalic";

  --animate-heartbeat: heartbeat 1.5s ease-in-out infinite;
  @keyframes heartbeat {
    0%,
    100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
  }
}

/* Header (titel) - mobil:25px - Desktop:30px*/
.h1 {
  @apply font-body text-[25px] xl:text-[30px];
}

/* Citat-tekst - mobil:25px - Desktop:30px */
.quote {
  @apply font-body italic text-[25px] xl:text-[30px];
}

/* Subheader (undertitel) - mobil:20px - Desktop:25px*/
.s1 {
  @apply font-body font-bold text-[20px] xl:text-[25px];
}

/* Paragraph (brødtekst) - mobil:15px - Desktop:20px */
.p1 {
  @apply font-body text-[15px] xl:text-[20px];
}

/* Tekst til knapper - mobil:20px - Desktop:25px*/
.button {
  @apply font-body text-[20px] xl:text-[25px];
}

/* tekst til links - mobil:20px - Desktop:25px */
.linktext {
  @apply font-body text-[20px] xl:text-[25px];
}

@layer base {
}

@layer components {
}

@layer utilities {
}

html {
  scroll-behavior: smooth;
}
